<!DOCTYPE html>

<html>
    <head>
        <title>Create Coupon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Create Coupon</h2>
        <form action="/saveCoupon" method="post">
            Code:<input name="code"/>
            Discout: <input name="discount"/>
            Expiry Date: <input name="expDate"/>
            <input type="submit" value="Save"/> 

        </form>
    </body>
</html>
